#mainnav{
	background-color: #222625 ;
	border-color: #222625 ;	
	margin-bottom: 0;

}
#mainbody {
	background-color: #FFFFFF	;
}
#acat-title{
	padding-top: 23px;
}
#login-button{
	background-color:#0097CC;
	color: #FFFFFF;
	font-weight: bold;
}
#login-container{
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #222625;
	margin-top: 50px;	
	height:300px;
	max-width: 450px;
	position: relative;
}
#agreement-container{
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #222625;
	margin-top: 50px;	
	min-height: 470px;
	max-width: 600px;
	position: relative;
	
}
#instruction-container{
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #222625;
	margin-top: 50px;	
	min-height: 450px;
	max-width: 600px;
	position: relative;
	
}
#instruction-box{
	height: 330px;
	overflow-y:scroll; 
}

#agreement-box{
	max-height: 350px;
	overflow-y:scroll; 
}

.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
	width: 50%; 
	height: 50%;
	min-width: 200px;
	max-width: 600px;
	padding: 40px;
}
.edit-candidate-btn{
	background-color: #0C3D84 ;
}

