<div  >
	<h3>Problems</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Problem # </th>
				<th>Domain</th>
				<th>Assignees</th>
				<th>View Problem</th>
				<th><button type="button" class="view-file-btn btn btn-primary"> Edit </button></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="#problem of problems">
				<td>3</td>
				<td>Java</td>
				<td><a href="#"> View</a></td>
				<td><a href="#"> View</a></td>
				<td><button type="button" class="view-file-btn btn btn-primary"> Edit </button></td>
			</tr>

		</tbody>
	</table>
</div>