<div>
	<h3>Candidates</h3>
	<table class="table">
		<thead>
			<tr>
				<th>
					<input type="checkbox" value="">
				</th>
				<th>ID</th>
				<th>Name</th>
				<th>Problem</th>
				<th>Completion Status</th>
				<th>Evaluation Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor ="#candidate of candidates">
				<td>
					<input type="checkbox" value="">
				</td>
				<td>{{candidate.loginID}}</td>
				<td>{{candidate.firstName}}{{" "}}{{candidate.lastName}}</td>
				<td>Problem {{" "+candidate.problem}}</td>
				<td>{{candidate.compStatus}}</td>
				<td>{{candidate.evalStatus}}</td>
				<td><button type="button" (click)="onEdit(candidate)"class="edit-candidate-btn btn btn-primary"> Edit </button></td>
			</tr>
		</tbody>
	</table>
	<div>
		<button (click) ="openAddCandidate()" type="button" class="btn"> Add Candidate </button>

	</div>
	<div class="admin-subbox" *ngIf="edittedCandidate">
		<div class="form-group">
			<h3>Edit Candidate</h3>
			<div class="row">
				<div class=" col-xs-4">
					<label for="edit-first-name" >First Name:</label>
					<input [(ngModel)]="edittedCandidate.firstName" class="form-control" id="edit-first-name">
				</div>
				<div class=" col-xs-4"> 
					<label for="edit-last-name" >Last Name:</label>
					<input [(ngModel)]="edittedCandidate.lastName" class="form-control" id="edit-last-name">
				</div>
			</div>
			<div class="row">		
				<div class=" col-xs-4">
					<label for="edit-login-id" >ID:</label>
					<input [(ngModel)]="edittedCandidate.loginID" class="form-control" id="edit-login-id">
				</div>
				<div class=" col-xs-4">
					<label for="edit-assigned-problem" >Problem:</label>
					<select [(ngModel)]="edittedCandidate.problem" class="form-control" id="edit-assigned-problem">
						<option *ngFor="#problem of problemList">{{problem.problemID}}</option>
					</select>
				</div>
			</div>
			<button (click)="doneEdit()" type="button" class=" btn btn-primary"> Done </button>
			<button (click) ="deleteCandidate(edittedCandidate.loginID)" type="button" class="btn"> Delete Candidate </button>
		</div>
	</div>
	<div *ngIf="addedCandidate">
		<div class="form-group">
			<h3>Add Candidate</h3>
			<div class="row">
				<div class=" col-xs-4">
					<label for="edit-first-name" >First Name:</label>
					<input [(ngModel)]="addedCandidate.firstName" class="form-control" id="edit-first-name">
				</div>
				<div class=" col-xs-4"> 
					<label for="edit-last-name" >Last Name:</label>
					<input [(ngModel)]="addedCandidate.lastName" class="form-control" id="edit-last-name">
				</div>
			</div>
			<div class="row">		
				<div class=" col-xs-4">
					<label for="edit-login-id" >ID:</label>
					<input [(ngModel)]="addedCandidate.loginID" class="form-control" id="edit-login-id">
				</div>
				<div class=" col-xs-4">
					<label for="edit-assigned-problem" >Problem:</label>
					<select [(ngModel)]="addedCandidate.problem" class="form-control" id="edit-assigned-problem">
						<option *ngFor="#problem of problemList">{{problem.problemID}}</option>
					</select>
				</div>
			</div>
			<button (click)="addCandidate()" type="button" class=" btn btn-primary"> Add Candidate </button>
		</div>

	</div>
</div>