
<ul class="nav nav-tabs nav-justified admin-nav-pill">
	<li ><a (click)="adminPageSwitch('candidates')" href="#admin-candidates-page">Candidates</a></li>
	<li ><a (click)="adminPageSwitch('submissions')"href="#admin-submissions-page">Submissions</a></li>
	<li ><a (click)="adminPageSwitch('problems')"href="#admin-problems-page">Problems</a></li>
	<li ><a (click)="adminPageSwitch('reports')"href="#">Reports</a></li>
</ul>
<div [ngSwitch]="adminPage.current">
	<admin-candidates-page [adminpage]="adminPage" *ngSwitchWhen="'candidates'"></admin-candidates-page>
	<admin-submissions-page [adminpage]="adminPage" *ngSwitchWhen="'submissions'"></admin-submissions-page>
	<admin-problems-page [adminpage]="adminPage" *ngSwitchWhen="'problems'"></admin-problems-page>
	<div *ngSwitchWhen="'reports'" >
		<h3>Reports</h3>
		<p>Report PlaceHolder</p>
	</div>
</div>
