<div  class="row">
	<div class=" Absolute-Center is-Responsive" id="instruction-container">
		<div class="well " id="instruction-box">
			<p>
				-The Test will take 75 Minutes,
				-You can submit the Test at any point, but you will not be able to adjust your response after submission.
				-Be sure to optimize your code and exclude any unncessary declarations
			</p> 
		</div>  
		<form>
			<button type="button" id="login-button" class="btn center-block">Begin Test</button>
		</form>
	</div>    
</div>